.upercase{
    text-transform: uppercase;
}
.main_padding{
    padding:70px 0;
}
.color_whitesmoke{
    color:whitesmoke
}

.borer_bottom{
    content: "";
    display: block;
    height: 7px;
    width: 69px;
    background-color: #e90e65;
    margin-top: 19px;
}
.main_title{
    font-weight: bold;
    font-size: 45px;
    color: #333;
}
%main_transition{
    transition: all .6s ease-in-out;
}
%slow_transition{
    transition: all .7s ease-in-out;
}

::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb{
    background-color: $mainColor;
}