.footer{
    background-color: #111;
    margin-top:40px;
    .map_section{
        iframe{
            height:700px;
            width:100%;
        }
    }
    .content{
    padding-bottom:30px;
        .footer_box{
            margin-bottom: 38px;
            min-height: 204px;
            @media(max-width:771px){
                padding-left: 25px;
            }
            &:hover{
                .borer_bottom:last-of-type{
                    width:65%
                }
            }
            h3{
                font-size: 19px;
                font-weight: bold;
                color: #f3e7e8;
            }
            .borer_bottom{
                background-color: $mainColor;
                margin-top: 8px;
                margin-bottom:20px;
                transition: all .5s ease-in-out;
            }
            p{
                color: #d8d6d68c;
                line-height: 25px;
                font-size: 17px;
            }
            ul{
                a{
                font-size: 18px;
                transition: all .3s ease-in-out;
                    color: #d8d6d68c;
                    &:hover{
                        color:$mainColor;
                        text-decoration: none;
                    }
                }
                &.social{
                    li{
                        display: inline-block;
                        svg{
                            margin-right:13px
                        }
                    }
                }
            }
        }
    }
    .footer_copyRight{
        border-top: 1px solid #6f6e6e;
        padding: 21px 0;
        margin-top: -7px;
        p{
            margin-bottom: 0;
            color:#636363
        }
    }
}